# Etsy
ETSY_API_KEY=your_keystring
ETSY_SHARED_SECRET=your_shared_secret
ETSY_SHOP_ID=your_shop_id
ETSY_SHOP_NAME=your_shop_name
ETSY_ACCESS_TOKEN=
ETSY_REFRESH_TOKEN=

# Squarespace
SQUARESPACE_API_KEY=your_api_key

# Google Sheets
GOOGLE_CREDENTIALS_PATH=./credentials.json
SPREADSHEET_ID=your_spreadsheet_id
